<.flash_group flash={@flash} />
<div class="bg-white max-w-4xl mx-auto">
  <div class="relative isolate pt-8 px-6 lg:px-8">
    <div class="py-24 sm:py-32 lg:py-40">
      <div>
        <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">to be x</h1>
        <p class="mt-6 text-lg leading-8 text-gray-600">
          Track the things you want to x
          <ul class="mt-1 text-lg text-gray-600 text-left">
            <li>📚 Books to be read</li>
            <li>🎮 Games to be played</li>
            <li>🎥 Movies to be watched</li>
            <li>📝 or anything else to be x…</li>
          </ul>
        </p>
        <div class="mt-10 flex items-center gap-x-6">
          <%= if @current_user do %>
            <.link
              href={~p"/lists"}
              class="rounded-md bg-primary-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-primary-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-600"
            >
              Go to your lists
            </.link>
          <% else %>
            <.link
              href={~p"/register"}
              class="rounded-md bg-primary-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-primary-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-600"
            >
              Get started
            </.link>
          <% end %>

          <a
            href="https://twitter.com/connor_lindsey"
            class="text-sm font-semibold leading-6 text-gray-900"
          >
            by @connor_lindsey
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
